<div class="parent1" style="background-color: lightblue">
  <div class="parent2">
    <h6>Ticket Type</h6>
     <select name="ticketType" [(ngModel)]="selectedTicketType" (change)="onSelectTicketType()">
      <option disabled selected value> -- select an option -- </option>
      <option *ngFor="let ticket of ticketOptions" [ngValue]="ticket">{{ticket.name}}</option>
    </select>
  </div>

  <div class="parent2">
    <h6>Violation Type</h6>
     <select name="violationType" [disabled]="violationTypeDisabled" [(ngModel)]="selectedViolationType" (change)="onSelectViolationType()">
      <option disabled selected value> -- select an option -- </option>
      <option *ngFor="let vltn of violations" [ngValue]="vltn">{{vltn.name}}</option>
    </select>
  </div>
</div>

<h5 style="background-color: lightblue">SLA Violation/Re-opened SRs of last five days</h5>

<table style="background-color: lightblue">
  <thead>
    <tr >
      <th>Request Number</th>
      <th>Violation Details</th>
      <th>Assignee</th>
      <th>Ticket Type</th>
      <th>Action Required</th>
      <th>New Team</th>
      <th>New Assignee</th>
      <th>Exception Required?</th>
      <th>Reason for Exception</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let singleTicket of ticketModel; let i = index">
      <td>{{singleTicket.requestnumber}}</td>
      <td>{{singleTicket.violationdetail}}</td>
      <td>{{singleTicket.assignee}}</td>
      <td>{{singleTicket.tickettype}}</td>
      <td  class="dropdown">
        <select name="actionRequired" [(ngModel)]="selectedActionType[i]" (change)="onSelectActionRequired(i)">
          <option disabled selected value> -- select an option -- </option>
          <option *ngFor="let action of actionRequired" [ngValue]="action">{{action.name}}</option>
        </select>
      </td>
      <td class="dropdown">
        <select name="newTeam" [disabled]="newTeamDisabled[i]">
          <option *ngFor="let team of newTeam[i]" [ngValue]="team">{{team}}</option>
        </select>
      </td>
      <td class="dropdown">
        <select name="newAssignee" [disabled]="newAssigneeDisabled[i]">
          <option *ngFor="let assignee of newAssignee[i]" [ngValue]="assignee">{{assignee}}</option>
        </select>
      </td>
      <td class="dropdown">
        <select name="exceptionRequired" [(ngModel)]="selectedExceptionType" (change)="onSelectExceptionRequired(i)">
          <option disabled value> -- select an option -- </option>
          <option *ngFor="let ex of exRequired" [ngValue]="ex">{{ex.name}}</option>
        </select>
      </td>
      <td class="dropdown" >
        <select name="exceptionReason"[disabled]="exceptionReasonDisabled" >
          <option *ngFor="let exReason of exceptionReason" [ngValue]="exReason">{{exReason}}</option>
        </select>
      </td>
    </tr>
  </tbody>

</table>
